@font-face {
    font-family: 'iron-on_blackletterregular';
    src: url('iron-onblackletter-regular.woff2') format('woff2'),
         url('iron-onblackletter-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@charset "utf-8";
@import "normalize";
@import "jquery.fullPage";
@import "kulers";
@import "button";



body {
  text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#tlop {
  
  .tlop1 {
    background: get-color($key: 'pablo-orange');
  }

  .tlop2 {
    background: get-color($key: 'pablo-teal');
  }

  .tlop3 {
    background: get-color($key: 'pablo-brown');
  }

  .tlop4 {
    background: get-color($key: 'pablo-beige');
  }
}

#yeezus {
  background: white;
}

h1 {
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  margin: 0;
}


.toplayer {
  width:50%;
  height:100%;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  margin: 0 auto;
  
  .content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

}

.animate {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}


