---
title: YE BUTTON
---
%div{:id =>"fullpage"}
    .section{:id => "tlop"}
        .slide.tlop1 
        .slide.tlop2 
        .slide.tlop3
        .slide.tlop4

.animate.toplayer
    .content
        %audio{:id => "music", :src => "assets/yebutton.m4a"}
        %a.button.regular.circle.custom{:href => "javascript:void(0);", :onclick =>"play()"} YE

