---
title: YE BUTTON
---
.welcome
    %h1 
        PRAY FOR ME
        %br
        I'M ABOUT TO HIT THE
    %audio{:id => "music", :src => "assets/yebutton.m4a"}
    %a.button.regular.square.custom{:href => "javascript:void(0);", :onclick =>"play()"} YE BUTTON